<%= form_for(blog) do |f| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre %>
  </div>

  <div class="field">
    <%= f.label :contenu %>
     <%= f.cktext_area :contenu, id: blog %>
  </div>

  <div class="field">
    <%= f.label :categorie %>
    <%= f.select :categorie_id, Categorie.pluck(:categorie_nom, :id) %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :image_legende %>
    <%= f.text_field :image_legende %>
  </div>
  
  <div class="field">
    <%= f.label :slug, "URL de l'article" %>
    <%= f.text_field :slug %>
  </div>
  <br />

  <div class="actions">
    <%= f.submit :Valider %>
  </div>
  <br />
<% end %>
