<div class="bandeau_blog">
  <div class="col-sm-12 text-center">
    <h1>LE BLOG</h1>
  </div>
</div>

<div class="content portfolio">

<p id="notice"><%= notice %></p>
<% if user_signed_in? && current_user.is_admin? %>
<span class="btn btn-default"><%= link_to 'Ecrire un nouveau post', new_blog_path %></span>
<% end %>
<br />

<div class="row col-centered">
  <% @blogs.reverse_each do |blog|%>
      <div class="col-sm-6 col-md-4 spacing">
        <div class="post col-centered">
          <img class="img-responsive" src="<%= blog.image %>" alt="<%= blog.image_legende %>">
          <div class="text_post col-centered">
            <h4><%= blog.titre.byteslice(0,20) %>...</h4>
            <p class="d_post">Posté le <%= blog.created_at.strftime('%d/%m/%Y') %></p>
            <!-- <p class="d_post">par <% if blog.user %><%= blog.user.firstname %> <%= blog.user.lastname %><% end %></p> -->
            <div class="contenu"><%= raw (sanitize remove_tags(blog.contenu), tags: %w(p)).truncate(250) %></div>
            <div class="sav_plus row col-centered">
              <div class="col-sm-4 col-centered">
                <form action="<%= blog_path(blog) %>">
                  <button class="btn btn-default" type="submit" value="<%= blog.titre %>">Lire plus</button>
                </form>
              </div>
              <% if user_signed_in? && current_user.is_admin? %>
              <div class="col-sm-4 col-centered">
                <form action="<%= edit_blog_path(blog) %>">
                  <button class="btn btn-info" type="submit" value="<%= blog.titre %>">Editer</button>
                </form>
              </div>
              <div class="col-sm-4 col-centered">
                <a href="<%= blog_path(blog) %>" data-confirm="Êtes-vous sûr?" data-method="delete"><button class="btn btn-danger"type="button" name="button">suppr</button></a>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>

</div>
<br />
</div>
