<div class="row bandeau_blog">
  <div class="col-sm-12 text-center">
    <h1><%= @blog.titre %></h1>
  </div>
</div>

<div class="content">

<p id="notice"><%= notice %></p>

<div class="text-justify">
  <figure class="blog_image">
    <img src="<%= @blog.image %>" alt="<%= @blog.image_legende %>">
    <figcaption><%= @blog.image_legende %></figcaption>
  </figure>
  <p class="">
    <%= raw @blog.contenu %>
  </p>
</div>

<%= link_to 'Editer', edit_blog_path(@blog) %> |
<%= link_to "Retour à l'index", blogs_path %>

</div>
