<div class="bandeau_blog">
  <div class="col-sm-12 text-center">
    <h1><%= @blog.titre %></h1>
  </div>
</div>

<div class="content">

<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-sm-12 text-center">

    <% i = 0 %>
    <% list_id = [] %>
    <% @blogs.each do |blog| %>
      <% i = i + 1 %>
      <% list_id<<blog.id %>
    <% end %>
    <% for j in 0..i-1 do %>
      <% if list_id[j] == @blog.id %>
        <% prev = list_id[j-1] %>
        <% nex = list_id[j+1] %>
      <% end %>
    <% end %>

    <% if @blog.id > @premier %>
    <div class="nav-post">
      <a href="<%= blog_path(prev) %>"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
    </div>
    <% end %>
    <div class="nav-post">
      <figure class="blog_image">
        <img src="<%= @blog.image %>" alt="<%= @blog.image_legende %>">
        <figcaption><%= @blog.image_legende %></figcaption>
      </figure>
    </div>
    <% if @blog.id < @dernier %>
    <div class="nav-post">
      <a href="<%= blog_path(nex) %>"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
    </div>
    <% end %>
  </div>

</div>

<p>
<% if @blog.categorie %>
<%= @blog.categorie.categorie_nom %>
<% end %>
</p>

<div class="row text-justify">
  <div class="col-sm-12">
    <p class="">
      <%= raw @blog.contenu %>
    </p>
  </div>
</div>

<% if user_signed_in? && current_user.is_admin? %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
<% end %>
</div>
