<div class="content row text-center">

<h1><%= t('admin.titre') %></h1>

		<h4>Gestion des utilisateurs</h4>
		<br />
		<div class="row text-center">
				<div class="col-md-8 col-md-offset-2">
					<div class="alert alert-info">
						Nous comptabilisons actuellement <strong><%= @total_utilisateur %></strong> utilisateurs
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4 col-md-offset-2">
					<form action="<%= users_path %>">
						<button type="submit" class="btn btn-default">Liste des utilisateurs</button>
					</form>
				</div>
				<div class="col-md-4">
					<form action="<%= new_user_path %>">
						<button type="submit" class="btn btn-info"><%= t('admin.nouvel_utilisateur') %></button>
					</form>
				</div>
			</div>

</div>
<br />

</div>
