<h1><%= t('admin.titre_utilisateurs') %></h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th><%= t('admin.noms') %></th>
			<th><%= t('admin.email') %></th>
			<th><%= t('admin.admin') %></th>
			<th><%= t('admin.actions') %></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.firstname %> <%= user.lastname %></td>
			<td><%= user.email %></td>
			<td>
			<% if user.is_admin? %>
				<%= icon('check-square') %>
			<% else %>
				<%= icon('window-close') %>
			<% end %>
			</td>
			<td>
				<a href="<%= edit_user_path(user) %>"><%= icon('edit') %></a>
				<a href="<%= user_path(user) %>" data-method="delete"><%= icon('remove') %></a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<a href="<%= new_user_path %>" class="btn btn-primary"><%= t('admin.nouvel_utilisateur') %></a>