<section class="title-bar-home">
  <div class="nom_resume">
    <h1>ARTANDTEO</h1>
    <h5><%= t('accueil.creation_communication_digitale') %></h5>
  </div>
  <div class="slogan">
    <h2><%= t('accueil.slogan') %></h2>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 text-center">
      <form action="<%= agence_path %>">
        <button type="submit" class="btn btn-default"><%= t('accueil.nous_trouver') %></button>
      </form>
    </div>
    <div class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-1 text-center">
      <form action="<%= contact_path %>">
        <button type="submit" class="btn btn-info"><%= t('accueil.nous_contacter') %></button>
      </form>
    </div>
  </div>
</section>

<section class="tryptic">
  <div class="row">
    <% for n in 1..3 do %>
      <div class="col-md-4 text-center">
        <div class="tryptic_<%= n %>">
          <h3><%= t('accueil.title_tryp' + n.to_s) %></h3>
          <img src="/img/tryp<%= n %>.png" alt="<%= t('accueil.alt_tryp' + n.to_s) %>">
          <hr>
          <p><%= t('accueil.texte_tryp' + n.to_s) %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>

<section class="objectifs">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3><%= t('accueil.objectif') %></h3>
      <ul>
        <li><%= t('accueil.first') %></li>
        <li><%= t('accueil.second') %></li>
        <li><%= t('accueil.third') %></li>
      </ul>
      <p>
        <%= t('accueil.txt_objectif') %>
      </p>
    </div>
  </div>
</section>

<section class="besoin">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <div class="card_besoin">
        <h4><%= t('accueil.titre_visib') %></h4>
        <p><%= t('accueil.txt_visib') %></p>
        <div class="sav_plus">
          <form action="<%= strategie_digitale_path %>">
            <button type="submit" class="btn btn-default"><%= t('savoir_plus') %></button>
          </form>
        </div>
      </div>
      <div class="card_besoin">
        <h4><%= t('accueil.titre_besoin') %></h4>
        <p><%= t('accueil.txt_besoin1') %></p>
        <hr>
        <p><%= t('accueil.txt_besoin2') %></p>
        <div class="sav_plus">
          <form action="<%= web_developpement_path %>">
            <button type="submit" class="btn btn-default"><%= t('savoir_plus') %></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="last_posts">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3><%= t('accueil.titre_last_posts') %></h3>
    </div>
  </div>
  <div class="row">
    <% @last_post.reverse_each do |post| %>
      <div class="col-md-6">
        <div class="post">
          <img class="img-responsive" src="<%= post.image %>" alt="<%= post.image_legende %>" />
          <div class="text_post">
            <h2><%= post.titre %></h2>
            <p class="d_post">Posté le <%= post.created_at.strftime('%d/%m/%Y à %H:%M') %></p>
            <div class="contenu">
            <%= raw (sanitize remove_tags(post.contenu), tags: %w(p)).truncate(250) %>
            </div>
            <div class="sav_plus">
              <form action="<%= blog_path(post) %>">
                <button type="submit" value="<%= post.titre %>" class="btn btn-default">Lire plus</button>
              </form>
            </div>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="nous_trouver">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3><%= t('accueil.titre_nous_trouver') %></h3>
    </div>
  </div>
  <!-- <div class="map_google"></div> -->
  <div class="content">
      <%= render 'pages/map' %>
  </div>
  <br />
  <br />
</section>

<section class="passion">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3><%= t('accueil.titre_passion') %></h3>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 text-center">
        <div class="contact_card">
          <img class="img-circle" src="/img/fred.jpg" alt="Photo de Fred">
          <hr>
          <h4><%= t('accueil.titre_fred') %></h4>
          <p><%= t('accueil.text_fred') %></p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="contact_card">
          <img class="img-circle" src="/img/jp.jpg" alt="Photo de Jean-Pierre">
          <hr>
          <h4><%= t('accueil.titre_jp') %></h4>
          <p><%= t('accueil.text_jp') %></p>
        </div>
      </div>
  </div>
</section>

<section class="outils">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3><%= t('accueil.titre_outils') %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-right">
        <img src="/img/icons/logo_ruby.png" alt="logo Ruby">
        <img src="/img/icons/logo_rails.png" alt="logo Rails">
        <img src="/img/icons/logo_sketch.png" alt="logo Sketch Bohemian Coding">
        <img src="/img/icons/logo_atom.png" alt="logo Atom IDE">
      </div>
      <div class="col-md-6 text-left">
        <img src="/img/icons/logo_wordpress.png" alt="logo Wordpress">
        <img src="/img/icons/logo_drupal.png" alt="logo Drupal">
        <img src="/img/icons/logo_magento.png" alt="logo Magento e-commerce">
        <img src="/img/icons/logo_analytics.png" alt="logo Google Analytics">
      </div>
    </div>
</section>
