<h1>ArtandTeo</h1>

<ul>
	<li><a href="<%= root_path %>">Accueil</a></li>
	<li><a href="<%= services_path %>">Nos services</a></li>
	<li><a href="<%= portfolio_path %>">Nos réalisations</a></li>
	<li><a href="<%= blogs_path %>">Blogs</a></li>
	<li><a href="<%= contact_path %>">Contact</a></li>
</ul>