<h1>ArtandTeo</h1>

<ul>
	<li><a href="<%= root_path %>">Accueil</a></li>
	<li><a href="<%= services_path %>">Nos services</a>
		<ul>
			<li><a href="<%= strategie_digitale_path %>">Stratégie digitale</a></li>
			<li><a href="<%= web_developpement_path %>">Web développement</a></li>
			<li><a href="<%= community_management_path %>">Community Management</a></li>
			<li><a href="<%= referencement_path %>">Référencement</a></li>
		</ul>
	</li>
	<li><a href="<%= portfolio_path %>">Nos réalisations</a></li>
	<li><a href="<%= agence_path %>">L'agence</a></li>
	<li><a href="<%= blog_posts_path %>">Blogs</a></li>
	<li><a href="<%= contact_path %>">Contact</a></li>
</ul>

<a href="<%= social_wall_path %>">Social wall</a>