<div class="bandeau_contact">
  <div class="col-sm-12 text-center">
    <h1><%= t('contact.titre') %></h1>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><%= simple_format(t('contact.content')) %></p>
    </div>
  </div>
  <br />
  <div class="row">
    <%= form_for :contact do |f| %>
      <div class="col-md-8 col-md-offset-2">
          <%= t('contact.nom') %>: <%= f.text_field :name, required: true, class: "form-control" %><br />
      </div>
      <div class="col-md-8 col-md-offset-2">
          <%= t('contact.email') %>: <%= f.email_field :email, required: true, class: "form-control" %><br />
      </div>
      <div class="col-md-8 col-md-offset-2">
          <%= t('contact.objet') %>: <%= f.text_field :objet, required: true, class: "form-control" %><br />
      </div>
      <div class="col-md-8 col-md-offset-2">
          <%= t('contact.message') %>: <%= f.text_area :message, required: true, class: "form-control" %><br />
      </div>
      <br />
      <div>
      <div class="col-md-8 col-md-offset-2">
          <p style="text-align: center;"><i><%= t('contact.mess') %><br /></i></p>
      </div>
      <div class="col-md-2 col-md-offset-5">
          <%= f.submit :Envoyer, value: t('contact.envoyer'), class: "form-control btn-default" %>
      </div>
    <% end %>
  </div>
  <br />
</div>
