<div class="row bandeau_contact">
  <div class="col-sm-12 text-center">
    <h1><%= t('contact.titre') %></h1>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><%= simple_format(t('contact.content')) %></p>
    </div>
  </div>
  <br />
  <div class="row">
    <%= form_for :reader do |f| %>
      <div class="col-md-8 col-md-offset-2">
          Votre nom: <%= f.text_field :name, class: "form-control" %><br />
      </div>
      <div class="col-md-8 col-md-offset-2">
          Votre email: <%= f.email_field :email, class: "form-control" %><br />
      </div>
      <div class="col-md-8 col-md-offset-2">
          Objet: <%= f.text_field :objet, class: "form-control" %><br />
      </div>
      <div class="col-md-8 col-md-offset-2">
          Votre message: <%= f.text_field :message, class: "form-control" %><br />
      </div>
      <br />
      <div class="col-md-2 col-md-offset-5">
          <%= f.submit :Envoyer, class: "form-control btn-default" %>
      </div>
    <% end %>
  </div>
</div>
