<div class="bandeau_titre">
  <div class="col-sm-12 text-center">
    <h1><%= t('realisations.titre') %></h1>
  </div>
</div>

<hr />

<div class="content portfolio">
<div class="row">
  <div class="col-sm-12 text-center">
    <p><%= t('realisations.sous_titre') %></p>
  </div>
</div>

<% for n in 1..5 do %>

<hr />

<div class="row">
  <div class="col-sm-12">
    <h4><%= t('realisations.nom_site_' + n.to_s) %></h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Url : <a href="<%= t('realisations.url_' + n.to_s) %>" target="_blank"><%= t('realisations.url_' + n.to_s) %></a></p>
    <p><%= t('realisations.type_' + n.to_s) %></p>
    <p><%= t('realisations.content_' + n.to_s) %></p>
    <p><%= t('realisations.contentb_' + n.to_s) %></p>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-6 text-center">
    <a href="<%= t('realisations.url_' + n.to_s) %>" target="_blank"><img class="img-responsive aligncenter" src="<%= t('realisations.image_desk_' + n.to_s) %>" alt="<%= t('realisations.alt_desk_' + n.to_s) %>" width="350" height="248" /></a>
    <p style="text-align: center;"><%= t('realisations.leg_desk') %></p>
  </div>
  <div class="col-md-6 text-center">
    <a href="<%= t('realisations.url_' + n.to_s) %>" target="_blank"><img class="aligncenter wp-image-117 size-full" src="<%= t('realisations.image_mob_' + n.to_s) %>" alt="<%= t('realisations.alt_mob_' + n.to_s) %>" width="140" height="248" /></a>
    <p style="text-align: center;"><%= t('realisations.leg_mob') %></p>
  </div>
</div>

<% end %>
