<div class="bandeau_contact">
  <div class="col-sm-12 text-center">
    <h1><%= t('referencement.titre') %></h1>
  </div>
</div>

<div class="content portfolio">
  <br />
  <hr>
  <br />
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="palette_ref">
        <p><%= simple_format(t('referencement.content1')) %></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="palette_ref">
        <p><%= simple_format(t('referencement.content2')) %></p>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="palette_ref">
        <p><%= simple_format(t('referencement.content3')) %></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="palette_ref">
        <p><%= simple_format(t('referencement.content4')) %></p>
      </div>
    </div>
  </div>
  <br />
  <hr>
  <br />
  <div class="row">
    <div class="col-sm-5 col-md-4 col-md-offset-1">
      <div class="">
        <p><%= simple_format(t('referencement.content5')) %></p>
      </div>
    </div>
    <div class="col-sm-7 col-md-6">
      <p><%= simple_format(t('referencement.content6')) %></p>
    </div>
  </div>
    <br />
    <hr>
    <br />
</div>
