<div class="row bandeau_stratdig">
  <div class="col-sm-12 text-center">
    <h1><%= t('strategie_digitale.titre') %></h1>
  </div>
</div>

<div class="content">
  <br />
  <hr>
  <br />
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="palette">
        <p><%= simple_format(t('strategie_digitale.content1')) %></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="palette">
        <p><%= simple_format(t('strategie_digitale.content2')) %></p>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="palette">
        <p><%= simple_format(t('strategie_digitale.content3')) %></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="palette">
        <p><%= simple_format(t('strategie_digitale.content4')) %></p>
      </div>
    </div>
  </div>
  <br />
  <hr>
  <br />
  <div class="row">
    <div class="col-sm-5 col-md-4 col-md-offset-1">
      <div class="">
        <p><%= simple_format(t('strategie_digitale.content5')) %></p>
      </div>
    </div>
    <div class="col-sm-7 col-md-6">
      <p><%= simple_format(t('strategie_digitale.content6')) %></p>
    </div>
  </div>
    <br />
    <hr>
    <br />
</div>
