<div class="row bandeau_devweb">
  <div class="col-sm-12 text-center">
    <h1><%= t('web_developpement.titre') %></h1>
  </div>
</div>

<div class="content">
  <br />
  <hr>
  <br />
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="palette">
        <p><%= simple_format(t('web_developpement.content1')) %></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="palette">
        <p><%= simple_format(t('web_developpement.content2')) %></p>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="palette">
        <p><%= simple_format(t('web_developpement.content3')) %></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="palette">
        <p><%= simple_format(t('web_developpement.content4')) %></p>
      </div>
    </div>
  </div>
  <br />
  <hr>
  <br />
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <p><%= simple_format(t('web_developpement.content5')) %></p>
    </div>
  </div>
    <br />
    <hr>
    <br />
</div>
