<h1>Newsletter</h1>
<section class="last_posts">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3><%= (t('accueil.titre_last_posts')) %></h3>
    </div>
  </div>
  <div class="row">
    <% @last_post.reverse_each do |post| %>
      <div class="col-md-6">
        <div class="post">
          <img class="img-responsive" src="<%= post.image %>" alt="<%= post.image_legende %>" />
          <div class="text_post">
            <h2><%= post.titre.byteslice(0,20) %>...</h2>
            <p class="d_post">Posté le <%= post.created_at.strftime('%d/%m/%Y') %></p>
            <div class="contenu">
            <%= raw (sanitize remove_tags(post.contenu), tags: %w(p)).truncate(250) %>
            </div>
            <div class="sav_plus">
              <form action="<%= blog_path(post) %>">
                <button type="submit" value="<%= post.titre %>" class="btn btn-default">Lire plus</button>
              </form>
            </div>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
