<h1>Affichage des articles : <%= @categorie.categorie_nom %></h1>

<% @categorie.blogs.each do |blog| %>
	<div class="col-sm-4 spacing">
        <div class="post col-centered">
          <img class="img-responsive" src="<%= blog.image %>" alt="<%= blog.image_legende %>">
          <div class="text_post col-centered">
            <h2><%= blog.titre.byteslice(0,20) %>...</h2>
            <p class="d_post">Posté le <%= blog.created_at.strftime('%d/%m/%Y à %H:%M') %> dans <% if blog.categorie %><%= blog.categorie.categorie_nom %><% end %></p>
            <div class="contenu"><%= raw (sanitize remove_tags(blog.contenu), tags: %w(p)).truncate(250) %></div>
            <div class="sav_plus row col-centered">
              <div class="col-sm-4 col-centered">
                <form action="<%= blog_path(blog) %>">
                  <button class="btn btn-default" type="submit" value="<%= blog.titre %>">Lire plus</button>
                </form>
              </div>
              <% if user_signed_in? && current_user.is_admin? %>
              <div class="col-sm-4 col-centered">
                <%= link_to 'Editer', edit_blog_path(blog), class: "btn btn-primary" %>
              </div>
              <div class="col-sm-4 col-centered">
                <%= link_to 'Suppr', blog, method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: "btn btn-danger" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
<% end %>
