<footer>

  <div id="newsletter">
    <div class="row">
      <div class="col-md-12 text-center">
            <h3><%= t('inscrire_newsletter') %></h3>
      </div>
    </div>

    <div class="row">
      <%= form_for :reader do |f| %>
      <div class="col-md-3 col-md-offset-2">
          <%= f.text_field :name, class: "form-control", placeholder: "Votre nom" %><br />
      </div>
      <div class="col-md-4">
          <%= f.email_field :email, class: "form-control", placeholder: "Votre email" %><br />
      </div>
      <div class="col-md-1">
          <%= f.submit "Ok", class: "form-control btn-default" %>
      </div>
      <% end %>
    </div>
  </div>

  <div id="social-footer" class="row">
    <div class="col-md-12 text-center">
      <span>
        <a href="http://facebook.com" alt="Facebook"><img src="/img/icons/fb.png" alt="Facebook"></a>
        <a href="#" alt="Linkedin"><img src="/img/icons/lk.png" alt="Linkedin"></a>
        <a href="#" alt="Twitter"><img src="/img/icons/tw.png" alt="Twitter"></a>
        <a href="#" alt="Google+"><img src="/img/icons/gp.png" alt="Google+"></a>
      </span>
    </div>
  </div>

  <div id="menu-footer" class="row">
    <div class="col-md-3">
      <a href=""><%= t('mentions_legales') %></a>
    </div>
    <div class="col-md-3">
      <a href=""><%= t('social_wall') %></a>
    </div>
    <div class="col-md-3">
      <% if user_signed_in? %>
      <a href="<%= destroy_user_session_path %>" alt="<% t('deconnexion') %>" data-method="delete"><%= t('deconnexion') %></a>
      <% else %>
      <a href="<%= new_user_session_path %>" alt="<% t('connexion') %>"><%= t('connexion') %></a>
      <% end %>
    </div>
    <div class="col-md-3">
      <a href=""><%= t('tous_droits_reserves') %></a>
    </div>

</footer>
