<footer>
  <div id="newsletter" class="row">
    <h4><%= t('inscrire_newsletter') %></h4>
    <div class="col-md-3 col-md-offset-1">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-3">

    </div>
  </div>
  <div id="social-footer" class="row">
    <div class="col-md-12">

    </div>
  </div>
  <div id="menu-footer" class="row">
    <div class="col-md-3">
      <a href=""><%= t('mentions_legales') %></a>
    </div>
    <div class="col-md-3">
      <a href=""><%= t('social_wall') %></a>
    </div>
    <div class="col-md-3">
      <a href=""><%= t('connexion') %></a>
    </div>
    <div class="col-md-3">
      <a href=""><%= t('tous_droits_reserves') %></a>
    </div>
  </div>
</footer>
