<footer>
  <div class="newsletter">
    <div class="row">
      <div class="col-md-12 txt-center">
            <h3><%= t('accueil.inscrire_newsletter') %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1">

      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>

  <div id="social-footer" class="row">
    <div class="col-md-12">

    </div>
  </div>

  <div id="menu-footer" class="row">
    <div class="col-md-3">
      <a href=""><%= t('mentions_legales') %></a>
    </div>
    <div class="col-md-3">
      <a href=""><%= t('social_wall') %></a>
    </div>
    <div class="col-md-3">
      <a href=""><%= t('connexion') %></a>
    </div>
    <div class="col-md-3">
      <a href=""><%= t('tous_droits_reserves') %></a>
    </div>

</footer>
